VITE_SUPABASE_URL=https://cqcuostianzgxfxainzn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxY3Vvc3RpYW56Z3hmeGFpbnpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4OTIyMDQsImV4cCI6MjA5NjQ2ODIwNH0.fZ0P7Uc6yn9P1wOadyQNyIHcwPDsGaSrc2A-E_MhWi4
